{% extends 'base.html' %}
{% block title %} Edit Search Parameters{% endblock %}
{% block content %}


{% if user.is_authenticated %}
	{% if user.id == parameter.user.id %}
	<h1>Edit Parameters</h1>
	<br/><br/>

	<div class="form-group">
		<form method="POST", enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-secondary">Update Parameters</button>
		</form>
	</div>

	{% else %}
		You are not the correct user to edit this page.
	{% endif %}

{% else %}	
	You are not signed in.
{% endif %}

{% endblock %}